<h1>{{titulo}}</h1>
<form #formArtist="ngForm" (ngSubmit)="onSubmit()" class="col-lg-4 col-lg-offset-4">
  <p>
    <label>Nombre</label>
    <input class="form-control" type="text" #name="ngModel" name="name" [(ngModel)]="artist.name" required>
    <span *ngIf="!name.valid && name.touched">
      El nombre es obligatorio
    </span>
  </p>
  <p>
    <label>Descripción</label>
    <textarea class="form-control" type="text" #name="ngModel" name="description" [(ngModel)]="artist.description" required></textarea>
    <span *ngIf="!description.valid && description.touched">
      La descripción es obligatoria
    </span>
  </p>
  <p>
    <button type="submit" class="btn btn-primary" [disabled]="!formArtist.form.valid"><span class="glyphicon glyphicon-ok"></span> Guardar</button>
  </p>
</form>
