<hr>
<div class="col-lg-6" *ngIf="identity">
  <h1>{{titulo}}</h1>
  <div *ngIf="alertRegister">
    <div class="alert alert-info">
      <strong>Error!</strong> {{error_mensaje}}
    </div>
  </div>
  <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
    <p>
      <label for="">Nombre</label>
      <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="form-control" required>
      <span *ngIf="!name.valid && name.touched">
        El nombre es oabligatorio
      </span>
    </p>
    <p>
      <label for="">Apellidos</label>
      <input type="text" class="form-control" required #surname="ngModel" name="surname" [(ngModel)]="user.surname">
      <span *ngIf="!surname.valid && surname.touched">
        El apellido es obligatorio
      </span>
    </p>
    <p>
      <label for="">Contraseña</label>
      <input type="password" class="form-control" required #password="ngModel" name="password" [(ngModel)]="user.password">
      <span *ngIf="!password.valid && password.touched">
        La contraseña es oabligatoria
      </span>
    </p>
    <p>
      <label for="">E-Mail</label>
      <input type="email" class="form-control" required #email="ngModel" name="emai" [(ngModel)]="user.email">
      <span *ngIf="!email.valid && email.touched">
        El E-Mail es obligatorio
      </span>
    </p>
    <p>
      <button type="submit" class="btn">Actualizar</button>
    </p>
  </form>
</div>
