<div role="navigation">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" [routerLink]="[('/')]">
          <span class="glyphicon glyphicon-music" arial-hidden="true"></span>
          {{titulo}}
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a [routerLinkActive]="['actived']"><span class="glyphicon glyphicon-search"></span> Buscar</a></li>
          <li><a [routerLinkActive]="['actived']" [routerLink]="[('/artist/1')]"><span class="glyphicon glyphicon-star"></span> Artistas</a></li>
          <li><a [routerLinkActive]="['actived']" ><span class="glyphicon glyphicon-book"></span> Albums</a></li>
        </ul>
        <!--
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      -->
        <ul class="nav navbar-nav navbar-right" *ngIf="identity">
          <li><img src="" alt=""></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="identity_name">{{identity.name}} {{identity.surname}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><!--
                <img src="{{url + 'get-image-user/' + identity.image}}" width="150px" height="150px">
              -->
              <div class="navbar-account">
                <div class="row">
                  <div class="col-lg-4">
                    <img src="{{url + 'get-image-user/' + identity.image}}" class="img-responsive" width="75px" height="75px" style="margin: 0px auto; margin-top15px; overflow: hidden;">
                  </div>
                  <div class="col-lg-8">
                    <p class="text-left"><strong>{{identity.name}} {{identity.surname}}</strong></p>
                    <p class="text-left"><strong>{{identity.email}}</strong></p>
                    <p class="text-left">
                      <a [routerLink]="['/mis-datos']" class="btn btn-primary btn-block btn-sm"><span class="glyphicon glyphicon-cog" arial-hidden="true"></span> Settings</a>
                    </p>
                  </div>
                </div>
              </div>
              </li>
              <li></li>
              <li role="separator" class="divider"></li>
              <p class="text-left">
                <a (click)="logOut()" class="btn btn-danger btn-block btn-sm"><span class="glyphicon glyphicon-log-out" arial-hidden="true"></span> Salir</a>
              </p>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

</div>
